@model IEnumerable<University.ViewModel.EnrollmentDateGroupViewModel>
@{
    ViewData["Title"] = "Student Body Statistics";
}
<h2>@ViewData["Title"]</h2>
<table class="table">
    <thead>
        <tr>
            <th>Enrollment Date</th>
            <th>Number of Students</th>
        </tr>
    </thead>
<tbody>
    @foreach (var group in Model)
    {
        <tr>
                <td>@group.EnrollmentDate</td>
                <td>@group.StudentCount</td>
        </tr>
    }
</tbody>
</table>